html {
    position: relative;
    min-height: 100%;
}

.alerts-wrap {
    position: relative;
    z-index: 1000;
    width: 100%;
}

.alerts-wrap .alerts {
    position: relative;
    width: 100%;
    top: 0;
    right: 0;

}

@media (min-width: 768px) {
    .alerts-wrap {
        position: absolute;
        top: 65px;
        right: 15px;
        width: 0px;
        height: 0px;
    }

    .alerts-wrap .alerts {
        position: absolute;
        min-width: 380px;
    }
}

.footer-helper {
    padding: 20px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #333;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #000;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

table.table tr td .btn-group.btn-group-sm {
    margin: -4px 0;
}
